.editor{
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  height: 80vh;
  width: 50vw;
}
.errorbox{
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  color: red;
  background-color: black;
}
