.main{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container{
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
}

.editor{
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  margin: 10px;
  flex-grow: 1;
}

.errorbox{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  color: #F44336;
  background-color: black;
  margin: 10px;
  display: inline;
}

.noerror{
  color: #7f8c8d;
  font-size: xx-large;
}
